.AuthForm {
    margin: 3rem auto;
    padding: 2.2rem 4.5rem;
    border-radius: 1rem;
    background-color: var(--color-grey-light-3);

    .Header {
        text-align: center;
        font-family: 'Lato';
        font-size: 3.5rem;
        font-weight: 300;
    }

    .FormControl {
        margin-top: 1.5rem;

        label {
            font-size: 1.4rem;
            font-weight: 600;
        }

        input {
            margin-top: 0.7rem;
        }
    }

    .Actions {
        font-family: 'Lato';
        margin-top: 1.5rem;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
        }

        .Toggle {
            position: relative;
            cursor: pointer;
            text-align: center;
            margin-top: 1.4rem;
            color: var(--color-grey-dark-1);
            font-size: 1.8rem;
            font-style: italic;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: currentColor;
                transform: scale(0);
                transition: all 0.3s ease;
            }

            &:hover {
                color: var(--color-black);
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
}
