.Alert {
    position: fixed;
    width: 90%;
    top: 10%;
    left: 50%;
    padding: 2.5rem 4.5rem;
    max-width: 90rem;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 2rem;
    border-radius: var(--card-border-radius-lg);
    box-shadow: var(--card-shadow-primary);
    transform: translateX(-50%);
    animation: fadeaway 1s ease-out 2s forwards;

    &.Error {
        background: var(--color-alert-danger);
    }

    &.Info {
        background: var(--color-alert-info);
    }

    &.Success {
        background: var(--color-alert-success);
    }
}

@keyframes fadeaway {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
