.QuizLogistics {
    width: 100%;
    display: flex;

    .Image {
        flex-basis: 50%;
        text-align: center;
        background: rgba(0, 0, 0, 0.35);
        width: 30rem;
        min-height: 15rem;
    }

    .List {
        flex-basis: 50%;
        list-style: none;

        .ListItem {
            font-size: 2.4rem;
            padding: 0.8rem 3.2rem;
            text-align: center;
            background: rgba(0, 0, 0, 0.15);

            display: flex;
            justify-content: space-between;

            .Label {
                font-family: 'Lato';
                text-transform: capitalize;
            }

            .Value {
                text-transform: uppercase;
                font-weight: 400;
                flex-basis: 50%;
                text-align: center;
            }

            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }
}
