.QuizHeader {
    width: 100vw;
    height: 30vh;
    background-image: linear-gradient(to bottom left, #008b79, #1180a1);
    display: flex;
    justify-content: center;
    align-items: center;

    .Title {
        font-size: 5rem;
        font-weight: 600;
        margin: 0;
        text-align: center;
        text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
        color: white;
    }
}

@media (min-width: 768px) {
    .QuizHeader {
        h1 {
            font-size: 5rem;
        }
    }
}
