.QuestionItem {
    width: 100%;

    .Question {
        margin-top: 0.7rem;
        font-size: 2rem;
        font-style: italic;
    }

    .AnswerList {
        margin-top: 1.5rem;

        .Answer {
            margin-top: 1.5rem;
            background: var(--card-bg);
            border-radius: var(--card-border-radius);
            padding: var(--card-padding);
            display: flex;

            span {
                flex-basis: 4rem;
                font-weight: 400;
                padding: 0 1rem;
                text-transform: capitalize;
            }

            input {
                cursor: pointer;
                background: transparent;
                flex-basis: 4rem;

                &:focus-within {
                    box-shadow: none;
                }
            }
        }
    }

    .Actions {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 2rem;

        button {
            padding: 0.7rem 2.5rem;
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}
