.QuestionCreate {
    width: 100%;
    margin-top: 2rem;

    .Header {
        font-size: 3.2rem;
        font-weight: 300;
        text-transform: capitalize;
    }

    .QuestionForm {
        margin-top: 1.8rem;

        label {
            text-transform: uppercase;
        }

        .FormQuestion {
            display: flex;
            flex-direction: column;
            label {
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 0.7rem;
            }

            textarea {
                height: 15rem;
                font-size: 2rem;
                font-family: inherit;
                border: none;
                resize: vertical;
            }
        }

        .FormAnswers {
            .FormGroup {
                margin-top: 1.4rem;

                &:not(:first-child) {
                    label {
                        font-style: italic;
                        color: var(--color-alert-danger);
                    }

                    input {
                        &:focus-within {
                            box-shadow: 0 0 5px 2px orangered;
                        }
                    }
                }

                label {
                    font-size: 1.4rem;
                    font-weight: 600;
                }

                input {
                    margin-top: 0.7rem;
                    &:focus-within {
                        box-shadow: 0 0 5px 2px rgb(135, 226, 115);
                    }
                }
            }
        }
    }

    .Actions {
        margin-top: 1.8rem;
        display: flex;
        justify-content: space-between;
    }
}
