.Quizzes {
    margin-top: 2rem;

    .Header {
        font-family: 'Lato';
        font-size: 2.8rem;
        font-weight: 400;
    }

    .QuizList {
        list-style: none;
        margin-top: 1.5rem;

        .QuizItem {
            background: var(--color-grey-light-2);
            padding: 1rem 2.2rem;
            font-size: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;

            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            .QuizTitle {
                font-weight: 600;
                flex-basis: 40%;
                text-transform: uppercase;
            }

            .QuizSummary {
                flex-basis: 50%;
                text-align: right;
            }

            .Actions {
                margin-top: 1.2rem;
                flex-basis: 100%;
                display: flex;
                justify-content: flex-end;
                gap: 1.5rem;
                color: var(--color-black);

                button {
                    text-transform: capitalize;
                }
            }
        }
    }
}
