@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;600&display=swap');

:root {
    --body-text-light: #efeded;
    --body-text-dark: #1f1f1f;
    --body-bg-dark: #2d2d2d;
    --body-bg-light: #e3e5f0;

    --color-black: #0f1117;
    --color-white: #f7f8f9;

    --color-grey-light-1: #eff0f2;
    --color-grey-light-2: #e8e8eb;
    --color-grey-light-3: #d4d5d9;
    --color-grey-light-4: #b5b6ba;

    --color-grey-dark-1: #6e737b;
    --color-grey-dark-2: #434953;
    --color-grey-dark-3: #2a313a;
    --color-grey-dark-4: #21262d;

    --color-alert-danger: #ff8683;
    --color-alert-success: #b5e3a6;
    --color-alert-info: #ffe3a2;

    --button-success-light: #45c932;
    --button-success-dark: #2aa91c;
    --button-danger-light: #eb3d30;
    --button-danger-dark: #b5150c;
    --button-primary-light: #01a1f7;
    --button-primary-dark: #0176c7;

    --button-shadow-primary: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
    --button-shadow-hover: 0 2px 7px 2px rgba(0, 0, 0, 0.15);

    --shadow-light: 2px 2px 3px rgba(0, 0, 0, 0.15);
    --shadow-dark: 2px 2px 3px rgba(0, 0, 0, 0.3);

    --input-focus-shadow: 0 0 5px 2px #3a6ddc;

    --link-hover: #3a6ddc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: var(--body-text-dark);
    background: var(--body-bg-light);
    font-size: 1.6rem;
    font-family: 'Open sans', 'Lato', san-serif;
    font-weight: 300;
    transition: background 0.3s ease, color 0.3s ease;

    &.dark {
        color: var(--body-text-light);
        background: var(--body-bg-dark);
    }
}

a {
    color: currentColor;
}

textarea,
select,
button,
input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    border: none;
}

select,
textarea,
input {
    width: 100%;
    border-radius: 0.7rem;
    padding: 0.8rem 1.4rem;
    background: var(--color-grey-light-1);
    transition: all 0.3s ease;

    &:focus-within {
        background: var(--color-white);
        outline: none;
        box-shadow: var(--input-focus-shadow);
    }
}

@media screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}
